/* Ensure these styles apply to your main container */

html, body, #root {
  height: 100%;
  margin: 0;
}

.App {
  display: grid;
  grid-template-rows: auto 1fr auto; /* Header, main content, footer */
  min-height: 100vh; /* Full viewport height */
}

.main-content {
  padding: 1rem;
}

/* Footer styles */
.footer {
  background-color: #282c34;
  color: white;
  text-align: center;
  padding: 1rem;
}
